Source: ka-lite-server
Section: gnome
Priority: extra
Maintainer: Jamie Alexandre <jamie@learningequality.org>
Build-Depends: 	debhelper (>= 9)
Standards-Version: 3.9.4
Homepage: https://learningequality.org/

Package: ka-lite-server
Architecture: all
Depends: nginx,
		 uwsgi-plugin-python,
		 uwsgi,
		 ${misc:Depends}
Description: Server Configuration for KA-Lite
 .